name: 'Deploy Spring Boot App with Ansible'

on:
  push:
    branches:
      - main
      - ansible
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy with Ansible
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: tsuguchi1/raise-tech:latest

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Run Ansible Playbook for Docker deployment
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: playbook.yml
          key: ${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}
          inventory: |
            [all]
            ${{ secrets.ANSIBLE_HOST }}

            [all:vars]
            ansible_user=ec2-user
            ansible_python_interpreter=/usr/bin/python3
            docker_image_name=tsuguchi1/raise-tech
